body{
  background-color: rgb(13, 96, 128);
}

h1 {
  text-align: center; font-size: 3vw;
  color: salmon;
}
h2{
  background-color: aquamarine;
  padding-top: 20px;
  padding-bottom: 20px;

}

article{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h3{
  color: white;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
}



ul{
  background-color: white;
}

ul p{
  text-align: center;
  margin-top: 50px;
}


li{
  text-decoration: underline;
  text-align: center;
  font-size: large;
}

p {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: salmon;
}